// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import "~bootstrap/scss/bootstrap";
.btn-span{
    position: absolute;
    right: 15px;
   bottom: 5px;
}

.btn-span span:last-child {
    margin-left: 10px;
}

.btn-span span:first-child a {
    color: #e54949;
    font-size: 1.2em;
    cursor: pointer;
}

.btn-span span:last-child a {
    color: #3db73d;
    font-size: 1.2em;
    cursor: pointer;
}

.add-btn {
    .btn-primary  {
        i.bi.bi-plus {
            font-size: 1.5rem;
            line-height: 0;
        }
    }
    h5 {
        margin-bottom: 0;
        margin-top: 10px;
    }
}

span.product-header-title {
    color: #e9605c;
}

.bi {
    line-height: 0;
    .bi-dash-circle-fill {
        line-height: 0;
    }
}

a.option-remove-btn {
    color: #e9605c;
    font-size: 1.5rem;
    position: relative;

    i{
        position: absolute;
    }
}

a.activate-image-upload {
    display: block;
}

.image-card-upload .card-body i {
    font-size: 4rem;
    color: #636b6f;
}

 a.remove-image-upload  {
    position: absolute;
    top: 0px;
    right: 20px;
    font-size:  1.5rem;
    color: #e9605c;
    z-index: 1;
}

input.image-file-upload {
    display: none;
}
